@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Oleo+Script:wght@700&family=Oswald&family=Play:wght@700&family=Ubuntu&display=swap');
.oleoFont {
  font-family: 'Oleo Script', cursive;
}

.playFont {
  font-family: 'Play', sans-serif;
}

.arimoFont {
  font-family: 'Arimo', sans-serif;
}

.ubuntuFont {
  font-family: 'Ubuntu', sans-serif;
}

.lightSeaGreen {
  color: #17a2b8;
}
.slateGrey {
  color: #778899;
}

body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
}
button {
  background-color: #17a2b8 !important;
}
.movieIcon {
  font-size: 5rem !important;
}

/* enable absolute positioning */
.inner-addon { 
  position: relative !important; 
}

/* style icon */
.inner-addon .glyphicon {
position: absolute !important;
padding: 10px !important;
pointer-events: none !important;
}

/* align icon */
.left-addon .glyphicon  { left:  0px !important;}

/* add padding  */
.left-addon input  { padding-left:  35px !important;}
